:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --color-background-primary: #070707;
  --color-background-secondary: #13131f;

  --color-text-primary: #ffffff;
  --color-text-secondary: #8257e6;

  --color-border: #8257e6;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background-primary);
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}